.App {
  background-color: #fefbf9;
  padding-left: 16px;
  max-width: 100%;
}

.filterButton,
.playlistButon {
  margin-right: 10px;
}

.videoButton {
  margin-right: 10px;
}

.filters,
.playlist {
  padding-top: 80px;
  padding-left: 48px;
  background-color: #fefbf9;
}

.statsText {
  padding-top: 10px;
  padding-left: 48px;
  background-color: #fefbf9;
}

.videosCollection {
  background-color: #fefbf9;
  margin-top: 32px;
}

.video {
  border-radius: 25px;
  border: 1px solid #a9a9a9;
  background-color: #fefbf9;
}

.videoImage {
  border: 1px solid #a9a9a9;
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
}

.imageBox {
  width: 365px;
  height: 206px;
}
